{% extends 'base.html' %}

{% block content %}
    <div class="card">
        <div class="card-header">
            <span class="font-weight-bold">Client Name: {{ object.name }}</span>

        </div>
        <div class="card-body">
            <span class="font-weight-bold">Account number: {{ object.acct_number }} </span>
            <span class="font-weight-bold">Phone: {{ object.cell_phone }} | </span><br>
            <span class="font-muted">Email: {{ object.email }} | </span><br>
            <hr>
            <span class="font-muted">Address: {{ object.address }} | </span><br>
            <span class="font-muted-">City: {{ object.city }} | </span><br>
            <span class="font-muted">State: {{ object.state }} | </span><br>
            <span class="font-muted">Zip: {{ object.zipcode }} | </span><br>

            <hr>
            <p>Notes: {{ object.notes }}</p>

            <a type="button" class="btn btn-success pull-right" href="{% url 'client_edit' client.pk %}">Edit</a>
            <a type="button" class="btn btn-danger pull-right" href="{% url 'client_delete' client.pk %}">Delete</a>

        </div>
      <div class="card-footer">
              <br>

    <div class="card">
        <div class="card-header">
            Comments <a type="button" class="btn btn-success" href="{% url 'comment_create' object.pk %}">Add
            comment</a>

        </div>
        <div class="card-body ">
            {% for comment in object.comments.all %}

                        <p>

                            Comment: {{ comment }}
                        <br>
                        Author: {{ comment.author }}
                        </p>
                <br>
                             <a type="button" class="btn btn-success" href="{% url 'comment_edit' comment.pk %}">Edit comment</a>
                        <a type="button" class="btn btn-danger" href="{% url 'comment_delete' comment.pk %}">Delete comment</a>

            {% endfor %}
        </div>
    </div>
       <div class="card">
        <div class="card-header">
            Vehicles <a type="button" class="btn btn-success" href="{% url 'vehicles_create' object.pk %}">Add
            vehicles</a>

        </div>
        <div class="card-body">
            {% for vehicle in object.vehicles.all %}

                        <span class="font-muted">VIN: {{ vehicle.VIN }} | </span><br>

                        <span class="font-weight-bold">make: {{ vehicle.make }}  </span><br>
                        <span class="font-weight-bold">model: {{ vehicle.model }}  </span><br>

                        <span class="font-muted-">Date of Purchase: {{ vehicle.purchase_date }}  </span><br>
                        <span class="font-muted">Last Service Date: {{ vehicle.service_date }}  </span><br>
<br>
                <hr>
                            <a type="button" class="btn btn-success" href="{% url 'vehicles_edit' vehicle.pk %}">Edit</a>
                        <a type="button" class="btn btn-danger" href="{% url 'vehicles_delete' vehicle.pk %}">Delete</a>

            {% endfor %}
        </div>

    </div>
    <br>

        </div>

    </div>

    <p>Back to <a href="{% url 'client_list' %}">All Clients</a>.</p>
{% endblock content %}